*.log
*.sqlite
*.sqlite-journal
.DS_Store
Icon?
Thumbs.db
*.swp
.*.swp
*~
*.lock
!composer.lock
.idea
.buildpath
.project
.settings
*.sublime-project
*.sublime-workspace
.nbproject
nbproject
node_modules
config.php
!vendor/miniflux/picofeed/lib/PicoFeed/Config/Config.php
!app/helpers/*
!app/models/*
!app/controllers/*
!app/templates/*
!app/validators/*
rules/*.php
data/favicons/*.*
